############################# General #########################################

{# I want to keep name opt at the top #}
{% if filebeat_general.name|default(false) %}
name: {{ filebeat_general.name }}
{% endif -%}

{% for key,value in filebeat_general.iteritems() %}

{%- if key == "name" %}
{# skip name opt in this loop #}
{% elif value is string or value is number or value is not iterable %}
{{ key }}: {{ value }}
{# Check if value a list #}
{% elif value is iterable and value is not mapping %}
{{ key }}:
{% for v in value %}
  - "{{ v }}"
{% endfor -%}
{# Check if value a dict #}
{% elif value is mapping %}
{{ key }}:
{% for k,v in value.iteritems() %}
{% if v is string or v is number or v is not iterable %}
  {{ k }}: {{ v }}
{% else %}
  {{ k }}: 
{% for i in v %}
    - "{{ i }}"
{% endfor %}
{% endif %}
{% endfor -%}
{% endif -%}

{% endfor %}

